@model IEnumerable<INTEX.Models.OrderTest>

@{
    ViewBag.Title = "ViewOrderTests";
}

<h2>ViewOrderTests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EMPFIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.ORDERID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test.TESTDESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.ORDERID == ((int)TempData["ORDERID"]))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EMPFIRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.ORDERCOMMENTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test.TESTDESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ORDERTESTID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ORDERTESTID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ORDERTESTID })
        </td>
    </tr>
    }
}

</table>
