@model IEnumerable<INTEX.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustRouting)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustRouting)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
